{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "./var/infection.log",
        "summary": "./var/infection-summary.log",
        "json": "./var/infection.json",
        "perMutator": "./var/infection-per-mutator.md"
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": false,
        "Minus": false,
        "FunctionCallRemoval": false,
        "LogicalAnd": false,
        "LogicalNot": false,
        "MethodCallRemoval": false,
        "Increment": false,
        "Decrement": false
    },
    "phpUnit": {
        "configDir": "./etc/qa/"
    }
}
