{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": false,
        "Minus": false,
        "FunctionCallRemoval": false,
        "LogicalAnd": false,
        "LogicalNot": false,
        "MethodCallRemoval": false,
        "Increment": false,
        "Decrement": false
    }
}